Port 22
AddressFamily inet
ListenAddress 0.0.0.0
Protocol 2
HostKey /workspace/.access/ssh_host_ed25519_key
PidFile /run/sshd/sshd.pid
AuthorizedKeysFile /workspace/.access/authorized_keys
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
AuthenticationMethods publickey
PubkeyAuthentication yes
UsePAM no
AllowUsers kai
StrictModes yes
AllowAgentForwarding no
AllowTcpForwarding no
DisableForwarding yes
GatewayPorts no
X11Forwarding no
PermitTunnel no
PermitUserEnvironment no
PermitUserRC no
LogLevel VERBOSE
ClientAliveInterval 60
ClientAliveCountMax 2
LoginGraceTime 30
MaxAuthTries 3
MaxSessions 4
Subsystem sftp internal-sftp
